{% extends '::base.html.twig' %}

{% block content -%}
    <div class="container">
        <h1>{{ entity }}</h1>

        <h2>Dungeon Master</h2>

        <p>{{ entity.dungeonMaster }}</p>

        <h2>Characters</h2>
        <table class="table table-striped table-hover">
            <thead>
            <th>Name</th>
            <th>Race</th>
            <th>Favored Class</th>
            <th>Level</th>
            <th>Player</th>
            </thead>
            <tbody>
            {% for character in entity.characters %}
                <tr>
                    <td><a href="{{ path('characters_show', {'id': character.baseCharacter.id}) }}">{{ character }}</a>
                    </td>
                    <td>
                        <a href="{{ path('races_show', {'id': character.baseCharacter.race.id}) }}">{{ character.baseCharacter.race }}</a>
                    </td>
                    <td>
                        <a href="{{ path('classes_show', {'id': character.baseCharacter.favoredClass.id}) }}">{{ character.baseCharacter.favoredClass }}</a>
                    </td>
                    <td>{{ character.level }}</td>
                    <td>{{ character.baseCharacter.user }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="list-group">

        </ul>

        <ul class="record_actions">
            <li>
                <a href="{{ path('parties') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('parties_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
