{% block character_h1 %}
    <h1 data-character-id="{{ entity.id }}">
        <a href="{{ path('characters_show', {'id': entity.id}) }}">{{ entity }}</a>
        <small>
            {{ 'level'|trans({'%level%': entity.level}) }}
            <a href="{{ path('races_show', {'id': entity.race.id}) }}">{{ entity.race|preg_replace('/ - .*/', '') }}</a>,
            <a href="{{ path('classes_show', {'id': entity.favoredClass.id}) }}">{{ entity.favoredClass }}</a>
            {%- if entity.favoredClass.subClasses -%}
                {% set firstSubClasses = true %}
                {% for level in entity.levels(entity.favoredClass)|filter(level => level.favoredClass and level.subClasses|length > 0) %}
                    ({%- for subclass in level.SubClasses -%}
                    {%- if loop.first and not firstSubClasses -%}, {%- endif -%}
                    {%- set hasSubClasses = false -%}
                    <a href="{{ path('subclasses_show', {'id': subclass.id}) }}">{{ subclass }}</a>
                    {%- if not loop.last -%}, {% endif %}
                {%- endfor -%})
                {% endfor %}
            {%- endif %}
        </small>
    </h1>
{% endblock %}