{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>{{ 'register'|trans }}</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email, {label: 'email'|trans}) }}
    {{ form_row(registrationForm.name, {label: 'name'|trans}) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'password'|trans
    }) }}

    <button type="submit" class="btn btn-primary">{{ 'register'|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
