{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Condition list</h1>

    <table class="table table-hover table-striped table-condensed table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Shortdescription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('conditions_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.shortDescription|raw }}</td>
                <td><a href="{{ path('conditions_edit', { 'id': entity.id }) }}">edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('conditions_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
