{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
    <h1>Spell list</h1>

    <table class="table table-condensed table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Shortdescription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('spells_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.shortDescription }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('spells_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
