{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if error %}
        <div class="symfony-form-errors">
            <div class="alert alert-danger fade in ">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"
               required="required" class="form-control"/>

        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" required="required" class="form-control"/>

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" class=form-control"/>
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
        <br/>
        <input type="submit" id="_submit" name="_submit"
               value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"
               class="btn btn-primary"/>
    </form>
{% endblock fos_user_content %}
