{% extends '::base.html.twig' %}

{% block content -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Shortdescription</th>
                <td>{{ entity.shortDescription }}</td>
            </tr>
            <tr>
                <th>Longdescription</th>
                <td>{{ entity.longDescription }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('subclasses') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('subclasses_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
