{% extends '::base.html.twig' %}

{% form_theme form _self %}

{% block content -%}
<div class="container">
<h1>Level Up</h1>
    <div class=wizard">
        {% include 'MopaBootstrapBundle:Form:formflow_stepList.html.twig' %}
    </div>
    <form method="post" {{ form_enctype(form) }}>
        {% if flow.currentStepLabel == 'Class Summary' %}
            <p>At this level, the {{ form.vars.value.classDefinition }} class will grant {{ entity }} the following
                powers:</p>
            <ul>
            {% for power in form.vars.value.classDefinition.powers if power.level == entity.level(form.vars.value.classDefinition) %}
                <li>{{ power }}</li>
            {% endfor %}
            </ul>
            <p>
                Note that some of these bonuses may have restrictions that are not taken into account by the tool.
                Make sure to respect these limitations.
            </p>
        {% elseif flow.currentStepLabel == 'Skills' %}
        <p>
            {{ entity }} has {{ entity.availableSkillPoints }} available skill points.
        </p>
        {% elseif flow.currentStepLabel == 'Confirmation' %}
            {{ include('@TroulitePathfinder/Character/_level_summary.html.twig', {'level': flow.formData}) }}
        {% endif %}

        {{ form_errors(form) }}
        {{ form_rest(form) }}

        {% include 'MopaBootstrapBundle:Form:formflow_buttons.html.twig' %}
    </form>
</div>
{% endblock %}

{% block _troulite_pathfinderbundle_level_skills_widget %}
    {% spaceless %}
        <table {{ block('widget_container_attributes') }}>
            <thead>
            <tr>
                <th>Skill</th>
                <th>Current Value</th>
                <th>Increment</th>
            </tr>
            </thead>
            <tbody>
                {{ block('skills_collection_rows') }}
            </tbody>
        </table>
        {{ form_rest(form) }}
    {% endspaceless %}
{% endblock _troulite_pathfinderbundle_level_skills_widget %}

{% block skills_collection_rows %}
    {% spaceless %}
        {{ form_errors(form) }}
        {% for child in form %}
            <tr>
                <td>{{ child.vars.value.skill }}</td>
                {# Here we subtract the value that was set in a previous submit (necessary if back button is used) #}
                <td>{{ child.parent.parent.vars.character.skillRank(child.vars.value.skill) - child.vars.value.value }}</td>
                <td>{{ form_row(child, {'attr':{'class':'collection-item' }}) }}</td>
            </tr>
        {% endfor %}
    {% endspaceless %}
{% endblock skills_collection_rows %}

{% block _troulite_pathfinderbundle_level_feats_widget %}
    {% spaceless %}
        <div class="panel-group" id="accordion">
            {{ block('feats_collection_rows') }}
        </div>
        {{ form_rest(form) }}
    {% endspaceless %}
{% endblock _troulite_pathfinderbundle_level_feats_widget %}

{% block feats_collection_rows %}
    {% for child in form %}
        {% set number = loop.index %}
        {% for feat in child %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ number }}">
                            {{ form_label(
                                   feat,
                                   'feat_number'|trans({'%number%': number}),
                                   {'label_attr': {'style': 'font-weight: inherit; display: inherit; cursor: inherit'}})
                            }}
                        </a>
                    </h3>
                </div>
                <div id="collapse{{ number }}" class="panel-collapse collapse{% if number == 1 %} in{% endif %}">
                    <div class="panel-body">
                        <table {{ block('widget_container_attributes') }}
                                class="table table-striped table-hover table-condensed table-responsive">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for feat_choice in feat %}
                                {{ block('feat_entity') }}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock feats_collection_rows %}

{% block feat_entity %}
    <tr>
        <td>{{ form_widget(feat_choice) }}</td>
        <td>{{ form_label(feat_choice) }}</td>
        <td>{{ feat.vars.choices[feat_choice.vars.value].data.shortDescription }}</td>
    </tr>
{% endblock feat_entity %}

{% block _troulite_pathfinderbundle_level_classPowers_row %}
    <div class="form-group">
        {% for child in form.children %}
            {% if
                child.vars.data.classPower.children.count > 0 or
                child.vars.data.classPower.effects['choice'] is defined
            %}
                {{ form_label(child) }}
                {{ form_widget(child) }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block _troulite_pathfinderbundle_level_classPowers_entry_label %}
    {{ form_label(form, form.vars.data) }}
{% endblock %}

{% block _troulite_pathfinderbundle_level_classPowers_entry_childPower_row %}
    <div class="col-sm-9">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block _troulite_pathfinderbundle_level_classPowers_entry_extraInformation_row %}
    <div class="col-sm-9">
        {{ form_widget(form) }}
    </div>
{% endblock %}