{% import 'popovers.html.twig' as popovers %}

<h2>{{ 'combat'|trans }}</h2>
<table id="armor" class="table table-striped table-sm">
    <tr>
        <th>{{ 'ac'|trans }}</th>
        <td>
            {{ entity.ac }}
            {{ popovers.bonuses(entity.defenseBonuses.ac) }}
        </td>
    </tr>
    <tr>
        <th>{{ 'touch.ac'|trans }}</th>
        <td>{{ entity.touchAc }}</td>
    </tr>
    <tr>
        <th>{{ 'flat.footed.ac'|trans }}</th>
        <td>{{ entity.flatFootedAc }}</td>
    </tr>
</table>

<table id="saving-throws" class="table table-striped table-sm">
    <tr data-controller="roll" data-roll-expression-value="1d20{{ entity.reflexes >= 0 ? '+'~entity.reflexes : entity.reflexes }}">
        <th>{{ 'reflexes'|trans }}</th>
        <td>{{ entity.reflexes }}</td>
        <td>=</td>
        <td>{{ entity.baseReflexes }}</td>
        <td>+</td>
        <td>{{ entity.modifierByAbility('dexterity') }}</td>
        <td>+</td>
        <td>
            {{ entity.defenseBonuses.reflexes }}
            {{ popovers.bonuses(entity.defenseBonuses.reflexes) }}
        </td>
        <td style="min-width: 10%">
            <span class="fa fa-dice-d20" data-action="click->roll#roll"><span class="sr-only">Roll</span></span>
            <span data-roll-target="result"></span>
        </td>
    </tr>
    <tr data-controller="roll" data-roll-expression-value="1d20{{ entity.fortitude >= 0 ? '+'~entity.fortitude : entity.fortitude }}">
        <th>{{ 'fortitude'|trans }}</th>
        <td>{{ entity.fortitude }}</td>
        <td>=</td>
        <td>{{ entity.baseFortitude }}</td>
        <td>+</td>
        <td>{{ entity.modifierByAbility('constitution') }}</td>
        <td>+</td>
        <td>
            {{ entity.defenseBonuses.fortitude }}
            {{ popovers.bonuses(entity.defenseBonuses.fortitude) }}
        </td>
        <td style="min-width: 10%">
            <span class="fa fa-dice-d20" data-action="click->roll#roll"><span class="sr-only">Roll</span></span>
            <span data-roll-target="result"></span>
        </td>
    </tr>
    <tr data-controller="roll" data-roll-expression-value="1d20{{ entity.will >= 0 ? '+'~entity.will : entity.will }}">
        <th>{{ 'will'|trans }}</th>
        <td>{{ entity.will }}</td>
        <td>=</td>
        <td>{{ entity.baseWill }}</td>
        <td>+</td>
        <td>{{ entity.modifierByAbility('wisdom') }}</td>
        <td>+</td>
        <td>
            {{ entity.defenseBonuses.will }}
            {{ popovers.bonuses(entity.defenseBonuses.will) }}
        </td>
        <td style="min-width: 10%">
            <span class="fa fa-dice-d20" data-action="click->roll#roll"><span class="sr-only">Roll</span></span>
            <span data-roll-target="result"></span>
        </td>
    </tr>
</table>
<table id="attack-rolls" class="table table-striped table-hover table-sm">
    <tr>
        <th>{{ 'bab'|trans }}</th>
        {% set bab = entity.bab %}
        {% for ar in entity.mainAttackRoll %}
            <td>
                {% if bab >= 0 %}
                    {{ bab }}
                    {% set bab = bab - 5 %}
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    <tr>
        <th>{{ 'main.attack.rolls'|trans }} {{ popovers.bonuses(entity.attackBonuses.mainAttackRolls) }}</th>
        {% for ar in entity.mainAttackRoll %}
            <td style="width: 12%"
                data-controller="roll" data-roll-expression-value="1d20{{ ar > 0 ? '+'~ar : ar }}">
                {{ ar }}
                <span class="fa fa-dice-d20" data-action="click->roll#roll"><span class="sr-only">Roll</span></span>
                <span data-roll-target="result"></span>
            </td>
        {% endfor %}
    </tr>
    {% if entity.dualWielding %}
    <tr>
        <th>{{ 'offhand.attack.rolls'|trans }} {{ popovers.bonuses(entity.attackBonuses.offhandAttackRolls) }}</th>
        {% for ar in entity.offhandAttackRoll %}
            <td data-controller="roll" data-roll-expression-value="1d20{{ ar > 0 ? '+'~ar : ar }}">
                {{ ar }}
                <span class="fa fa-dice-d20" data-action="click->roll#roll"><span class="sr-only">Roll</span></span>
                <span data-roll-target="result"></span>
            </td>
        {% endfor %}
    </tr>
    {% endif %}
    <tr>
        <th>{{ 'cmb'|trans }}</th>
        <td colspan="{{ entity.mainAttackRoll|length }}"
            data-controller="roll" data-roll-expression-value="1d20{{ entity.cmb > 0 ? '+'~entity.cmb : entity.cmb }}">
            {{ entity.cmb }}
            <span class="fa fa-dice-d20" data-action="click->roll#roll"><span class="sr-only">Roll</span></span>
            <span data-roll-target="result"></span>
        </td>
    </tr>
    <tr>
        <th>{{ 'cmd'|trans }}</th>
        <td colspan="{{ entity.mainAttackRoll|length }}">
            {{ entity.cmd }}
        </td>
    </tr>
</table>
<table id="damage-bonus" class="table table-striped table-hover table-sm">
    <tr data-controller="roll"
        data-roll-expression-value="{{ entity.equipment.mainWeapon.damages }}{{ entity.mainDamageRoll >= 0 ? '+' : '' }}{{ entity.mainDamageRoll }}">
        <th>{{ 'main.damage.bonus'|trans }}</th>
        <td>
            {{ entity.equipment.mainWeapon.damages }}{% if entity.mainDamageRoll >= 0 %}+{% endif %}{{ entity.mainDamageRoll }}
            {{ popovers.bonuses(entity.attackBonuses.mainDamage) }}
        </td>
        <td style="min-width: 20%">
            <span class="fa fa-dice-d20" data-action="click->roll#roll"><span class="sr-only">Roll</span></span>
            <span data-roll-target="result"></span>
        </td>
    </tr>
    {% if entity.dualWielding %}
    <tr data-controller="roll"
        data-roll-expression-value="{{ entity.equipment.offhandWeapon.damages }}{{ entity.offhandDamageRoll >= 0 ? '+' : '' }}{{ entity.offhandDamageRoll }}">
        <th>{{ 'offhand.damage.bonus'|trans }}</th>
        <td>
            {{ entity.equipment.offhandWeapon.damages }}{{ entity.offhandDamageRoll >= 0 ? '+' : '' }}{{ entity.offhandDamageRoll }}
            {{ popovers.bonuses(entity.attackBonuses.offhandDamage) }}
        </td>
        <td style="min-width: 20%">
            <span class="fa fa-dice-d20" data-action="click->roll#roll"><span class="sr-only">Roll</span></span>
            <span data-roll-target="result"></span>
        </td>
    </tr>
    {% endif %}
</table>
<table id="initiative" class="table table-hover table-sm">
    <tr data-controller="roll"
        data-roll-expression-value="1d20{{ entity.initiative > 0 ? '+'~entity.initiative : entity.initiative }}">
        <th>{{ 'initiative'|trans }}</th>
        <td>{{ entity.initiative }}</td>
        <td>=</td>
        <td>{{ entity.modifierByAbility('dexterity') }}</td>
        <td>+</td>
        <td>
            {{ entity.attackBonuses.initiative.bonus }}
            {{ popovers.bonuses(entity.attackBonuses.initiative) }}
        </td>
        <td style="min-width: 10%">
            <span class="fa fa-dice-d20" data-action="click->roll#roll"><span class="sr-only">Roll</span></span>
            <span data-roll-target="result"></span>
        </td>
    </tr>
</table>