{% import 'popovers.html.twig' as popovers %}

<h2>{{ 'combat'|trans }}</h2>
<table id="armor" class="table table-striped table-sm">
    <tr>
        <th>{{ 'ac'|trans }}</th>
        <td>
            {{ entity.ac }}
            {{ popovers.bonuses(entity.defenseBonuses.ac) }}
        </td>
    </tr>
    <tr>
        <th>{{ 'touch.ac'|trans }}</th>
        <td>{{ entity.touchAc }}</td>
    </tr>
    <tr>
        <th>{{ 'flat.footed.ac'|trans }}</th>
        <td>{{ entity.flatFootedAc }}</td>
    </tr>
</table>

<table id="saving-throws" class="table table-striped table-sm">
    <tr>
        <th>{{ 'reflexes'|trans }}</th>
        <td>{{ entity.reflexes }}</td>
        <td>=</td>
        <td>{{ entity.baseReflexes }}</td>
        <td>+</td>
        <td>{{ entity.modifierByAbility('dexterity') }}</td>
        <td>+</td>
        <td>
            {{ entity.defenseBonuses.reflexes }}
            {{ popovers.bonuses(entity.defenseBonuses.reflexes) }}
        </td>
    </tr>
    <tr>
        <th>{{ 'fortitude'|trans }}</th>
        <td>{{ entity.fortitude }}</td>
        <td>=</td>
        <td>{{ entity.baseFortitude }}</td>
        <td>+</td>
        <td>{{ entity.modifierByAbility('constitution') }}</td>
        <td>+</td>
        <td>
            {{ entity.defenseBonuses.fortitude }}
            {{ popovers.bonuses(entity.defenseBonuses.fortitude) }}
        </td>
    </tr>
    <tr>
        <th>{{ 'will'|trans }}</th>
        <td>{{ entity.will }}</td>
        <td>=</td>
        <td>{{ entity.baseWill }}</td>
        <td>+</td>
        <td>{{ entity.modifierByAbility('wisdom') }}</td>
        <td>+</td>
        <td>
            {{ entity.defenseBonuses.will }}
            {{ popovers.bonuses(entity.defenseBonuses.will) }}
        </td>
    </tr>
</table>
<table id="attack-rolls" class="table table-striped table-hover table-sm">
    <tr>
        <th>{{ 'bab'|trans }}</th>
        {% set bab = entity.bab %}
        {% for ar in entity.mainAttackRoll %}
            <td>
                {% if bab >= 0 %}
                    {{ bab }}
                    {% set bab = bab - 5 %}
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    <tr>
        <th>{{ 'main.attack.rolls'|trans }}</th>
        {% for ar in entity.mainAttackRoll %}
            <td>
                {{ ar }}
                {% if loop.index == loop.length %}
                    {{ popovers.bonuses(entity.attackBonuses.mainAttackRolls) }}
                {% endif %}

            </td>
        {% endfor %}
    </tr>
    {% if entity.dualWielding %}
    <tr>
        <th>{{ 'offhand.attack.rolls'|trans }}</th>
        {% for ar in entity.offhandAttackRoll %}
            <td>
                {{ ar }}
                {% if loop.index == loop.length %}
                    {{ popovers.bonuses(entity.attackBonuses.offhandAttackRolls) }}
                {% endif %}

            </td>
        {% endfor %}
    </tr>
    {% endif %}
</table>
<table id="damage-bonus" class="table table-striped table-hover table-sm">
    <tr>
        <th>{{ 'main.damage.bonus'|trans }}</th>
        <td>
            {% if entity.mainDamageRoll > 0 %}+{% endif %}{{ entity.mainDamageRoll }}
            {{ popovers.bonuses(entity.attackBonuses.mainDamage) }}
        </td>
    </tr>
    {% if entity.dualWielding %}
    <tr>
        <th>{{ 'offhand.damage.bonus'|trans }}</th>
        <td>
            {% if entity.offhandDamageRoll > 0 %}+{% endif %}{{ entity.offhandDamageRoll }}
            {{ popovers.bonuses(entity.attackBonuses.offhandDamage) }}
        </td>
    </tr>
    {% endif %}
</table>
<table id="initiative" class="table table-hover table-sm">
    <tr>
        <th>{{ 'initiative'|trans }}</th>
        <td>{{ entity.initiative }}</td>
        <td>=</td>
        <td>{{ entity.modifierByAbility('dexterity') }}</td>
        <td>+</td>
        <td>
            {{ entity.attackBonuses.initiative.bonus }}
            {{ popovers.bonuses(entity.attackBonuses.initiative) }}
        </td>
    </tr>
</table>