{% import 'popovers.html.twig' as popovers %}

<h2>{{ 'passive.powers'|trans }}</h2>
<table class="table table-hover table-sm">
    <tbody>
    {% for feat in passive_feats %}
        <tr>
            {% if loop.index == 1 %}
                <th rowspan="{{ loop.length }}">{{ 'feats'|trans }}</th>
            {% endif %}
            <td>
                {{ popovers.description(feat.feat, feat.feat, feat.feat) }}
            </td>
        </tr>
    {% endfor %}
    {% for power in passive_class_powers %}
        <tr>
            {% if loop.index == 1 %}
                <th rowspan="{{ loop.length }}">{{ 'class.powers'|trans }}</th>
            {% endif %}
            <td>
                {% set name %}
                    {{ power.classPower }} {% if power.extraInformation %}({{ power.extraInformation }}){% endif %}
                {% endset %}
                {{ popovers.description(name, power.classPower, name) }}

            </td>
        </tr>
    {% endfor %}
    {% for spellEffect in passive_spell_effects %}
        <tr>
            {% if loop.index == 1 %}
                <th rowspan="{{ loop.length }}">{{ 'spells'|trans }}</th>
            {% endif %}
            <td>
                {{ popovers.description(spellEffect.spell.name, spellEffect.spell) }}
            </td>
        </tr>
    {% endfor %}
    {% for powerEffect in passive_power_effects %}
        <tr>
            {% if loop.index == 1 %}
                <th rowspan="{{ loop.length }}">{{ 'powers'|trans }}</th>
            {% endif %}
            <td>
                {{ popovers.description(powerEffect.power.name, powerEffect.power) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
