{% import 'popovers.html.twig' as popovers %}

<table class="table table-hover table-striped table-sm table-responsive-md">
    <thead>
    <tr>
        <th><a href="{{ path('skills') }}">{{ 'skill'|trans }}</a></th>
        <th>{{ 'total.bonus'|trans }}</th>
        <th>{{ 'ability.modifier.short'|trans }}</th>
        <th>{{ 'ranks'|trans }}</th>
        <th>{{ 'misc.modifiers'|trans }}</th>
        <th style="min-width: 10%">{{ 'roll'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for skill in skills[start:end] %}
        {% set value = 0 %}
        {% set bonus = 0 %}
        {%- set shortname = skill.shortname -%}
        {% if attribute(entity.skillsBonuses, shortname) is defined %}
            {% set bonus = attribute(entity.skillsBonuses, shortname).bonus %}
        {% endif %}
        <tr data-controller="roll"
            data-roll-expression-value="1d20{{ entity.skillValue(skill) >= 0 ? '+'~entity.skillValue(skill) : entity.skillValue(skill) }}"
            data-roll-type-value="{{ skill }}"
        >
            <td>
                {% if entity.hasClassBonus(skill) -%}
                    <i class="far fa-check-square"></i>
                {% else %}
                    <i class="far fa-square"></i>
                {% endif %}
                {{ skill }}{% if not skill.untrained %}*{% endif %}
            </td>
            <td>{{ entity.skillValue(skill) }}</td>
            <td>{{ skill.keyAbility[0:3]|trans|upper }} {{ entity.modifierByAbility(skill.keyAbility) }}</td>
            <td>{{ entity.skillRank(skill) }}</td>
            <td>
                {{ bonus|default(0) }}
                {% if attribute(entity.skillsBonuses, shortname) is defined %}
                    {{ popovers.bonuses(entity.skillsBonuses[shortname]) }}
                {% endif %}
            </td>
            <td>
                <span class="fa fa-dice-d20" data-action="click->roll#roll"><span class="sr-only">Roll</span></span>
                <span data-roll-target="result"></span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>