{% extends '::base.html.twig' %}

{% block content -%}
    <div class="container">
        <h1>{{ entity.name }}</h1>

        <h2>Modifiers</h2>
        <ul>
            {% for attribute, value in entity.modifiers %}
                <li>{% if value > 0 %}+{% endif %}{{ value }} {{ attribute }}</li>
            {% endfor %}
        </ul>
        <h2>Actions</h2>
        <ul class="list-inline">
            <li>
                <a href="{{ path('races') }}" class="btn btn-primary">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('races_edit', { 'id': entity.id }) }}" class="btn btn-primary">
                    Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
