{% extends '::base.html.twig' %}

{% block content -%}
    <div class="container">
        <h1>{{ entity.name }}</h1>

        <h2>Traits</h2>
        <ul>
            {% for stat, bonus in entity.traits %}
                {% set value = bonus.value %}
                <li>{% if value > 0 %}+{% endif %}{{ value }} {{ stat|replace('_', ' ') }}</li>
            {% endfor %}
        </ul>
        <h2>Actions</h2>
        <ul class="list-inline">
            <li>
                <a href="{{ path('races') }}" class="btn btn-primary">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('races_edit', { 'id': entity.id }) }}" class="btn btn-primary">
                    Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
