{% block character_h1 %}
<h1>
    {{ entity }}
    <small>
        {{ 'level'|trans({'%level%': entity.level}) }}
        <a href="{{ path('races_show', {'id': entity.race.id}) }}">{{ entity.race }}</a>
        <a href="{{ path('classes_show', {'id': entity.favoredClass.id}) }}">{{ entity.favoredClass }}
            {%- if entity.favoredClass.subClasses -%}
                {% for level in entity.levels(entity.favoredClass) if level.favoredClass and level.subClasses|length > 0 %}
                    ({{ level.subClasses|join(', ') }})
                {% endfor %}
            {%- endif -%}</a>
        <a href="{{ path('characters_edit', {'id': entity.id}) }}"><span
                    class="glyphicon glyphicon-edit"></span></a>
        <a href="{{ path('characters_levelup', { 'id': entity.id }) }}" title="{{ 'level.up'|trans }}"><span
                    class="glyphicon glyphicon-plus"></span></a>
        <a href="{{ path('characters_sleep', {'id': entity.id}) }}" title="{{ 'sleep'|trans }}"><span
                    class="glyphicon glyphicon-time"></span></a>
        {% if entity.canLearnSpells %}
            <a href="{{ path('characters_learn_spell', {'id': entity.id}) }}" title="{{ 'learn_spell'|trans }}"><span
                        class="glyphicon glyphicon-book"></span></a>
        {% endif %}
    </small>
</h1>
{% endblock %}