{% extends '::base.html.twig' %}

{% block title %}Edit {{ edit_form.vars.data.name }}{% endblock %}

{% block content -%}
    <div class="container">
        {% include('@TroulitePathfinder/Character/character_h1.html.twig') %}

        {{ form(edit_form) }}

        <h2>{{ 'edit.levels'|trans }}</h2>

        <div class="panel-group" id="levels_accordion" role="tablist" aria-multiselectable="true">
            {% for level in entity.levels %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="level_{{ level.value }}">
                        <h3 class="panel-title">
                            <a class="accordion-toggle {% if loop.index > 1 %}collapsed{% endif %}"
                               data-toggle="collapse" data-parent="#levels_accordion"
                               href="#collapse_level_{{ level.value }}"
                               aria-expanded="{% if loop.index == 1 %}true{% else %}false{% endif %}"
                               aria-controls="collapse_level_{{ level.value }}">
                                {{ 'level'|trans({'%level%': level.value}) }}
                            </a>
                        </h3>
                    </div>
                    <div id="collapse_level_{{ level.value }}"
                         class="panel-collapse collapse {% if loop.index == 1 %}in{% endif %}" role="tabpanel"
                         aria-labelledby="level_{{ level.value }}">
                        <div class="panel-body">
                            {{ include('@TroulitePathfinder/Character/_level_summary.html.twig', {'level': level}) }}
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="{{ path('characters_levels_edit', { 'character': entity.id, 'level': level.value}) }}">
                            {{ 'edit.level'|trans }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <ul class="record_actions">
            <li>
                <a href="{{ path('characters') }}">
                    Back to the list
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
