{% extends '::base.html.twig' %}

{% block title "Character - " ~ entity.name %}

{% block content -%}
    <h1>{{ entity.name }}</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Race</th>
            <td>{{ entity.race }}</td>
        </tr>
        <tr>
            <th>Level</th>
            <td>{{ entity.level }}</td>
        </tr>
        <tr>
            <th>Favored class</th>
            <td>{{ entity.favoredClass }}</td>
        </tr>
        <tr>
            <th>Max HP</th>
            <td>{{ entity.maxHp }}</td>
        </tr>
        </tbody>
    </table>

    <table>
        <tr>
            <th>Ability</th>
            <th>Value</th>
            <th>Modifier</th>
        </tr>
        <tr>
            <th>Strength</th>
            <td>{{ entity.strength }}</td>
            <td>{{ entity.abilityModifier(entity.strength) }}</td>
        </tr>
        <tr>
            <th>Dexterity</th>
            <td>{{ entity.dexterity }}</td>
            <td>{{ entity.abilityModifier(entity.dexterity) }}</td>
        </tr>
        <tr>
            <th>Constitution</th>
            <td>{{ entity.constitution }}</td>
            <td>{{ entity.abilityModifier(entity.constitution) }}</td>
        </tr>
        <tr>
            <th>Intelligence</th>
            <td>{{ entity.intelligence }}</td>
            <td>{{ entity.abilityModifier(entity.intelligence) }}</td>
        </tr>
        <tr>
            <th>Wisdom</th>
            <td>{{ entity.wisdom }}</td>
            <td>{{ entity.abilityModifier(entity.wisdom) }}</td>
        </tr>
        <tr>
            <th>Charisma</th>
            <td>{{ entity.charisma }}</td>
            <td>{{ entity.abilityModifier(entity.charisma) }}</td>
        </tr>
    </table>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>BBA</th>
            <td>
                {{ entity.bba }}
                {% if entity.bba > 5 -%} / {{ entity.bba - 5 }}{% endif %}
                {% if entity.bba > 10 -%} / {{ entity.bba - 10 }} {% endif %}
                {% if entity.bba > 15 -%} / {{ entity.bba - 15 }}{% endif %}
            </td>
        </tr>
        <tr>
            <th>Reflexes</th>
            <td>{{ entity.reflexes }} = {{ entity.baseReflexes }} + {{ entity.abilityModifier(entity.dexterity) }}</td>
        </tr>
        <tr>
            <th>Fortitude</th>
            <td>{{ entity.fortitude }} = {{ entity.baseFortitude }}
                + {{ entity.abilityModifier(entity.constitution) }}</td>
        </tr>
        <tr>
            <th>Will</th>
            <td>{{ entity.will }} = {{ entity.baseWill }} + {{ entity.abilityModifier(entity.wisdom) }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('characters') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('characters_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
