{% extends '::base.html.twig' %}

{% import _self as popovers %}

{% block title "BaseCharacter - " ~ entity %}

{% block navbar_current -%}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ entity }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#main" data-toggle="tab">Main Profile</a></li>
                <li><a href="#skills" data-toggle="tab">Skills</a></li>
                <li><a href="#equipment" data-toggle="tab">Equipment</a></li>
                <li><a href="#inventory" data-toggle="tab">Inventory</a></li>
                <li><a href="#spells" data-toggle="tab">Spells</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block content -%}
    <div class="container">
    <h1>
        {{ entity }}
        <small>
            Level {{ entity.level }}
            <a href="{{ path('races_show', {'id': entity.race.id}) }}">{{ entity.race }}</a>
            <a href="{{ path('classes_show', {'id': entity.favoredClass.id}) }}">{{ entity.favoredClass }}</a>
            <a href="{{ path('characters_edit', {'id': entity.id}) }}"><span
                        class="glyphicon glyphicon-edit"></span></a>
            <a href="{{ path('characters_levelup', { 'id': entity.id }) }}" title="Level Up">
                <span class="glyphicon glyphicon-plus glyphicon-"></span>
            </a>
        </small>
    </h1>
    <div class="tab-content">
    <div id="main" class="tab-pane active">
        <div class="row">
            <div class="col-md-4">
                <h2>Main Profile</h2>
                <table id="abilities" class="table table-condensed table-striped table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>Ability</th>
                        <th>Value</th>
                        <th>Modifier</th>
                    </tr>
                    </thead>
                    <tr>
                        <th>Strength</th>
                        <td>
                            {{ entity.strength }}
                            {{ popovers.bonuses(entity.abilitiesBonuses.strength) }}
                        </td>
                        <td>{{ entity.abilityModifier(entity.strength) }}</td>
                    </tr>
                    <tr>
                        <th>Dexterity</th>
                        <td>
                            {{ entity.dexterity }}
                            {{ popovers.bonuses(entity.abilitiesBonuses.dexterity) }}
                        </td>
                        <td>{{ entity.abilityModifier(entity.dexterity) }}</td>
                    </tr>
                    <tr>
                        <th>Constitution</th>
                        <td>
                            {{ entity.constitution }}
                            {{ popovers.bonuses(entity.abilitiesBonuses.constitution) }}
                        </td>
                        <td>{{ entity.abilityModifier(entity.constitution) }}</td>
                    </tr>
                    <tr>
                        <th>Intelligence</th>
                        <td>
                            {{ entity.intelligence }}
                            {{ popovers.bonuses(entity.abilitiesBonuses.intelligence) }}
                        </td>
                        <td>{{ entity.abilityModifier(entity.intelligence) }}</td>
                    </tr>
                    <tr>
                        <th>Wisdom</th>
                        <td>
                            {{ entity.wisdom }}
                            {{ popovers.bonuses(entity.abilitiesBonuses.wisdom) }}
                        </td>
                        <td>{{ entity.abilityModifier(entity.wisdom) }}</td>
                    </tr>
                    <tr>
                        <th>Charisma</th>
                        <td>
                            {{ entity.charisma }}
                            {{ popovers.bonuses(entity.abilitiesBonuses.charisma) }}
                        </td>
                        <td>{{ entity.abilityModifier(entity.charisma) }}</td>
                    </tr>
                </table>
                <h2>Hit Points</h2>
                <dl class="dl-horizontal">
                    <dt>Max Hit Points</dt>
                    <dd>
                        {{ entity.maxHp }}
                        {{ popovers.bonuses(entity.hpBonuses) }}
                    </dd>
                    <dt>Losts Hit Points</dt>
                    <dd>{{ entity.lostHP }}</dd>
                    <dt>Current Hit Points</dt>
                    <dd>{{ entity.maxHp - entity.lostHP }}</dd>
                    <dt>HP Rolls per level</dt>
                    <dd>
                        {% for level in entity.levels %}
                            {{ level.hpRoll }}
                        {% endfor %}
                    </dd>
                    {% if entity.level > 1 %}
                        <dt data-toggle="tooltip" data-placement="bottom" title="First level is ignored">Mean HP per
                            level
                        </dt>
                        <dd>
                            {% set sumhp = 0 %}
                            {% for level in entity.levels|slice(1) %}
                                {% set sumhp = sumhp + level.hpRoll %}
                            {% endfor %}
                            {{ (sumhp / ((entity.levels|length)-1))|number_format(1) }}
                        </dd>
                    {% endif %}
                </dl>
            </div>
            <div class="col-md-4">
                <h2>Combat</h2>
                <table id="armor" class="table table-striped table-condensed table-responsive">
                    <tr>
                        <th>AC</th>
                        <td>
                            {{ entity.ac }}
                            {{ popovers.bonuses(entity.defenseBonuses.ac) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Touch AC</th>
                        <td>{{ entity.touchAc }}</td>
                    </tr>
                    <tr>
                        <th>Flat-Footed AC</th>
                        <td>{{ entity.flatFootedAc }}</td>
                    </tr>
                </table>

                <table id="saving-throws" class="table table-striped table-condensed table-responsive">
                    <tr>
                        <th>Reflexes</th>
                        <td>{{ entity.reflexes }}</td>
                        <td>=</td>
                        <td>{{ entity.baseReflexes }}</td>
                        <td>+</td>
                        <td>{{ entity.abilityModifier(entity.dexterity) }}</td>
                        <td>+</td>
                        <td>
                            {{ entity.defenseBonuses.reflexes }}
                            {{ popovers.bonuses(entity.defenseBonuses.reflexes) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Fortitude</th>
                        <td>{{ entity.fortitude }}</td>
                        <td>=</td>
                        <td>{{ entity.baseFortitude }}</td>
                        <td>+</td>
                        <td>{{ entity.abilityModifier(entity.constitution) }}</td>
                        <td>+</td>
                        <td>
                            {{ entity.defenseBonuses.fortitude }}
                            {{ popovers.bonuses(entity.defenseBonuses.fortitude) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Will</th>
                        <td>{{ entity.will }}</td>
                        <td>=</td>
                        <td>{{ entity.baseWill }}</td>
                        <td>+</td>
                        <td>{{ entity.abilityModifier(entity.wisdom) }}</td>
                        <td>+</td>
                        <td>
                            {{ entity.defenseBonuses.will }}
                            {{ popovers.bonuses(entity.defenseBonuses.will) }}
                        </td>
                    </tr>
                </table>
                <table id="attack-rolls" class="table table-striped table-hover table-condensed table-responsive">
                    <tr>
                        <th>BAB</th>
                        <td>{{ entity.bab }}</td>
                        {% if entity.bab > 5 -%}
                            <td>{{ entity.bab - 5 }}</td>{% endif %}
                        {% if entity.bab > 10 -%}
                            <td>{{ entity.bab - 10 }}</td>{% endif %}
                        {% if entity.bab > 15 -%}
                            <td>{{ entity.bab - 15 }}</td>{% endif %}
                    </tr>
                    <tr>
                        <th>Melee attack rolls</th>
                        {% for ar in entity.meleeAttackRoll %}
                            <td>
                                {{ ar }}
                                {% if loop.index == loop.length %}
                                    {{ popovers.bonuses(entity.attackBonuses.meleeAttackRolls) }}
                                {% endif %}

                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Ranged attack rolls</th>
                        {% for ar in entity.rangedAttackRoll %}
                            <td>
                                {{ ar }}
                                {% if loop.index == loop.length %}
                                    {{ popovers.bonuses(entity.attackBonuses.rangedAttackRolls) }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                </table>
                <table id="damage-bonus" class="table table-striped table-hover table-condensed table-responsive">
                    <tr>
                        <th>Melee damage bonus</th>
                        <td>
                            {% if entity.meleeDamageRoll > 0 %}+{% endif %}{{ entity.meleeDamageRoll }}
                            {{ popovers.bonuses(entity.attackBonuses.meleeDamage) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Ranged damage bonus</th>
                        <td>
                            {% if entity.rangedAttackRoll > 0 %}+{% endif %}{{ entity.rangedDamageRoll }}
                            {{ popovers.bonuses(entity.attackBonuses.rangedDamage) }}
                        </td>
                    </tr>
                </table>
                <table id="initiative" class="table table-hover table-condensed table-responsive">
                    <tr>
                        <th>Initiative</th>
                        <td>{{ entity.initiative }}</td>
                        <td>=</td>
                        <td>{{ entity.abilityModifier(entity.dexterity) }}</td>
                        <td>+</td>
                        <td>
                            {{ entity.attackBonuses.initiative.bonus }}
                            {{ popovers.bonuses(entity.attackBonuses.initiative) }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2 id="feats">Powers</h2>
                {% if
                    powers_activation_form.feats|length > 0 or
                    powers_activation_form.class_powers|length > 0 or
                    powers_activation_form.spell_effects|length > 0
                %}
                {{ form_start(powers_activation_form) }}
                <table class="table table-hover table-condensed table-responsive">
                    <tbody>
                    {% for power in powers_activation_form.feats %}
                        <tr>
                            {% if loop.index == 1 %}
                                <th rowspan="{{ loop.length }}">Feats</th>
                            {% endif %}
                            <td>
                                {{ popovers.description(power.vars.value.feat.name, power.vars.value.feat) }}
                                {{ form_label(power.active, power.vars.value.feat.name) }}
                            </td>
                            <td>{{ form_widget(power.active) }}</td>
                        </tr>
                    {% endfor %}
                    {% for power in powers_activation_form.class_powers %}
                        <tr>
                            {% if loop.index == 1 %}
                                <th rowspan="{{ loop.length }}">Class</th>
                            {% endif %}
                            <td>
                                {{ popovers.description(power.vars.value.classPower.name, power.vars.value.classPower) }}
                                {{ form_label(power.active, power.vars.value.classPower.name) }}
                            </td>
                            <td>{{ form_widget(power.active) }}</td>
                        </tr>
                    {% endfor %}
                    {% for spellEffect in powers_activation_form.spell_effects %}
                        <tr>
                            {% if loop.index == 1 %}
                                <th rowspan="{{ loop.length }}">Spells</th>
                            {% endif %}
                            <td>
                                {{ popovers.description(spellEffect.vars.value.spell.name, spellEffect.vars.value.spell) }}
                                {{ form_label(spellEffect.active, spellEffect.vars.value.spell.name) }}
                            </td>
                            <td>{{ form_widget(spellEffect.active) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ form_row(powers_activation_form.submit) }}
                {{ form_end(powers_activation_form, {'render_rest': false}) }}
                {% endif %}
                <h3>Unmanaged Powers</h3>
                <table class="table table-hover table-condensed table-responsive">
                    <tbody>
                    {% for feat in other_feats %}
                        <tr>
                            {% if loop.index == 1 %}
                                <th rowspan="{{ loop.length }}">Feats</th>
                            {% endif %}
                            <td>
                                {{ popovers.description(feat.feat.name, feat.feat) }}
                                {{ feat.feat }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for power in other_class_powers %}
                        <tr>
                            {% if loop.index == 1 %}
                                <th rowspan="{{ loop.length }}">Class Powers</th>
                            {% endif %}
                            <td>
                                {{ popovers.description(power.classPower.name, power.classPower) }}
                                {{ power.classPower }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for spellEffect in other_spell_effects %}
                        <tr>
                            {% if loop.index == 1 %}
                                <th rowspan="{{ loop.length }}">Spells</th>
                            {% endif %}
                            <td>
                                {{ popovers.description(spellEffect.spell.name, spellEffect.spell) }}
                                {{ spellEffect.spell }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Passive Powers</h3>
                <table class="table table-hover table-condensed table-responsive">
                    <tbody>
                        {% for feat in passive_feats %}
                            <tr>
                                {% if loop.index == 1 %}
                                    <th rowspan="{{ loop.length }}">Feats</th>
                                {% endif %}
                                <td>
                                    {{ popovers.description(feat.feat.name, feat.feat) }}
                                    {{ feat.feat }}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for power in passive_class_powers %}
                            <tr>
                                {% if loop.index == 1 %}
                                    <th rowspan="{{ loop.length }}">Class Powers</th>
                                {% endif %}
                                <td>
                                    {{ popovers.description(power.classPower.name, power.classPower) }}
                                    {{ power.classPower }}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for spellEffect in passive_spell_effects %}
                            <tr>
                                {% if loop.index == 1 %}
                                    <th rowspan="{{ loop.length }}">Spells</th>
                                {% endif %}
                                <td>
                                    {{ popovers.description(spellEffect.spell.name, spellEffect.spell) }}
                                    {{ spellEffect.spell }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="skills" class="tab-pane">
        <h2>Skills</h2>
        <table class="table table-hover table-striped table-condensed table-responsive">
            <thead>
            <tr>
                <th><a href="{{ path('skills') }}">Skill</a></th>
                <th>Total Bonus</th>
                <th>Ability Modifier</th>
                <th>Ranks</th>
                <th>Misc Modifiers</th>
            </tr>
            </thead>
            <tbody>
            {% for skill in skills if (skill.untrained or entity.skillRank(skill) > 0) %}
                {% set value = 0 %}
                {% set bonus = 0 %}
                {%- set shortname = skill.shortname -%}
                {%- spaceless -%}
                    {% set value = entity.modifierByAbility(skill.keyAbility, entity) + entity.skillRank(skill) %}
                    {% if entity.hasClassBonus(skill) and entity.skillRank(skill) > 0 %}
                        {% set value = value + 3 %}
                    {% endif %}
                    {% if attribute(entity.skillsBonuses, shortname) is defined %}
                        {% set bonus = attribute(entity.skillsBonuses, shortname).bonus %}
                        {% set value = value + bonus %}
                    {% endif %}
                {%- endspaceless -%}
                <tr>
                    <td>
                        {% if entity.hasClassBonus(skill) -%}
                            <span class="glyphicon glyphicon-check"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-unchecked"></span>
                        {% endif %}
                        {{ skill }}
                    </td>
                    <td>{{ value }}</td>
                    <td>{{ skill.keyAbility }} {{ entity.modifierByAbility(skill.keyAbility, entity) }}</td>
                    <td>{{ entity.skillRank(skill) }}</td>
                    <td>
                        {{ bonus|default(0) }}
                        {% if attribute(entity.skillsBonuses, shortname) is defined %}
                            {{ popovers.bonuses(entity.skillsBonuses[shortname]) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="equipment" class="tab-pane">
        <h2>Equipment</h2>
        <dl>
            <dt>Left weapon</dt>
            <dd>{{ entity.equipment.mainWeapon }}</dd>
            <dt>Right weapon</dt>
            <dd>{{ entity.equipment.offhandWeapon }}</dd>
            <dt>Body</dt>
            <dd>{{ entity.equipment.body }}</dd>
            <dt>Feet</dt>
            <dd>{{ entity.equipment.feet }}</dd>
            <dt>Hands</dt>
            <dd>{{ entity.equipment.hands }}</dd>
            <dt>Head</dt>
            <dd>{{ entity.equipment.head }}</dd>
            <dt>Back</dt>
            <dd>{{ entity.equipment.back }}</dd>
            <dt>Belt</dt>
            <dd>{{ entity.equipment.belt }}</dd>
            <dt>Left finger</dt>
            <dd>{{ entity.equipment.leftFinger }}</dd>
            <dt>Right finger</dt>
            <dd>{{ entity.equipment.rightFinger }}</dd>
            <dt>Neck</dt>
            <dd>{{ entity.equipment.neck }}</dd>
        </dl>
    </div>
    <div id="inventory" class="tab-pane">
        <h2>Inventory</h2>
    </div>
    <div id="spells" class="tab-pane">
        <h2>Spells</h2>

        {% set known = entity.learnedSpellsBySpellLevel %}
        {% if known %}
            {% for spellLevel, classSpells in known %}
                <h3>Level {{ spellLevel }}</h3>
                <ul>
                    {% for classSpell in classSpells %}
                    <li>{{ classSpell.spell }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}
    </div>
    </div>
    </div>
{% endblock %}

{% macro description(title, object) %}
    {% if
        object.longDescription or
        object.shortDescription or
        (object.prerequisities is defined and object.prerequisities|length > 0) or
        (object.conditions is defined and object.conditions|length > 0) or
        (object.externalConditions is defined and object.externalConditions|length > 0)
    %}
    <a class="mypopover" data-toggle="popover"
       title="{{ title }}"
       data-content="
            {% if object.shortDescription %}
            <p><em>{{ object.shortDescription }}</em></p>
            {% endif %}
            {{ object.longDescription }}
            {% if object.prerequisities is defined and object.prerequisities|length > 0 %}
            Prerequisities:
            <ul>
                {% for key, value in object.prerequisities %}
                <li>{{ key|capitalize }}: {{ value|capitalize }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if
                (object.conditions is defined and object.conditions|length > 0) or
                (object.externalConditions is defined and object.externalConditions|length > 0)
            %}
            Conditions:
            <ul>
                {% for key, value in object.conditions %}
                <li>{{ key|capitalize }}: {{ value|capitalize }}</li>
                {% endfor %}
                {% for key, value in object.externalConditions %}
                <li>{{ key|capitalize }}: {{ value|capitalize }}</li>
                {% endfor %}
            </ul>
            {% endif %}
       ">
        <span class="glyphicon glyphicon-info-sign"></span></a>
    {% endif %}
{% endmacro %}

{% macro bonuses(bonuses) %}
    {% if bonuses.bonuses|length != 0 %}
        <a class="mypopover" data-toggle="popover"
           title="Bonuses"
           data-content="
                {% set ab = bonuses.applicableBonuses %}
                {% if ab|length > 0 %}
                List of applied bonuses:
                <ul>
                    {% for bonus in bonuses.applicableBonuses %}
                    <li>
                        {{ bonus.source }}: {{ bonus.value }}
                        {% if bonus.type %}({{ bonus.type }}){% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% set nab = bonuses.nonApplicableBonuses %}
                {% if nab|length > 0 %}
                Other bonuses:
                <ul>
                    {% for bonus in nab %}
                    <li>
                        {{ bonus.source }}: {{ bonus.value }}
                        {% if bonus.type %}({{ bonus.type }}){% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
           ">
            <span class="glyphicon glyphicon-info-sign"></span></a>
    {% endif %}
{% endmacro bonuses %}