{% extends '::base.html.twig' %}

{% import '::popovers.html.twig' as popovers %}

{% block subtitle entity %}

{% block content -%}
    {% include('@TroulitePathfinder/Character/character_h1.html.twig') %}
    <div class="row">
        <div class="col-lg-4 col-md-4">
            {{ include('TroulitePathfinderBundle:Character/show:main_profile.html.twig') }}
        </div>
        <div class="col-lg-4 col-md-4">
            {{ include('TroulitePathfinderBundle:Character/show:combat.html.twig') }}
        </div>
        <div class="col-lg-4 col-md-4">
            {{ include('TroulitePathfinderBundle:Character/show:powers.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ include('TroulitePathfinderBundle:Character/show:counters.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div id="skills" class="col-xs-12">
            {{ include('TroulitePathfinderBundle:Character/show:skills.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            {{ include('TroulitePathfinderBundle:Character/show:unmanaged_powers.html.twig') }}
        </div>
        <div class="col-lg-4 col-md-4">
            {{ include('TroulitePathfinderBundle:Character/show:passive_powers.html.twig') }}
        </div>
    </div>
    <div class="row">
        {{ render_esi(controller('TroulitePathfinderBundle:Character:notes', { 'id': entity.id, 'type': 'general' })) }}
    </div>
{% endblock %}
