{% extends '::base.html.twig' %}

{% form_theme feats_activation_form _self %}

{% block title "BaseCharacter - " ~ entity %}

{% block navbar_current -%}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ entity }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#main" data-toggle="tab">Main Profile</a></li>
                <li><a href="#skills" data-toggle="tab">Skills</a></li>
                <li><a href="#equipment" data-toggle="tab">Equipment</a></li>
                <li><a href="#inventory" data-toggle="tab">Inventory</a></li>
                <li><a href="#spells" data-toggle="tab">Spells</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block content -%}
    <div class="container">
    <h1>
        {{ entity }}
        <small>
            <a href="{{ path('characters_edit', {'id': entity.baseCharacter.id}) }}"><span
                        class="glyphicon glyphicon-edit"></span></a>
            Level {{ entity.level }}
            <a href="{{ path('races_show', {'id': entity.baseCharacter.race.id}) }}">{{ entity.baseCharacter.race }}</a>
            <a href="{{ path('classes_show', {'id': entity.baseCharacter.favoredClass.id}) }}">{{ entity.baseCharacter.favoredClass }}</a>
        </small>
    </h1>
    <div class="tab-content">
    <div id="main" class="tab-pane active">
        <div class="row">
            <div class="col-md-4">
                <h2>Main Profile</h2>
                <table id="abilities" class="table table-striped table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>Ability</th>
                        <th>Value</th>
                        <th>Modifier</th>
                    </tr>
                    </thead>
                    <tr>
                        <th>Strength</th>
                        <td>{{ entity.strength }}</td>
                        <td>{{ entity.abilityModifier(entity.strength) }}</td>
                    </tr>
                    <tr>
                        <th>Dexterity</th>
                        <td>{{ entity.dexterity }}</td>
                        <td>{{ entity.abilityModifier(entity.dexterity) }}</td>
                    </tr>
                    <tr>
                        <th>Constitution</th>
                        <td>{{ entity.constitution }}</td>
                        <td>{{ entity.abilityModifier(entity.constitution) }}</td>
                    </tr>
                    <tr>
                        <th>Intelligence</th>
                        <td>{{ entity.intelligence }}</td>
                        <td>{{ entity.abilityModifier(entity.intelligence) }}</td>
                    </tr>
                    <tr>
                        <th>Wisdom</th>
                        <td>{{ entity.wisdom }}</td>
                        <td>{{ entity.abilityModifier(entity.wisdom) }}</td>
                    </tr>
                    <tr>
                        <th>Charisma</th>
                        <td>{{ entity.charisma }}</td>
                        <td>{{ entity.abilityModifier(entity.charisma) }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5">
                <h2>Hit Points</h2>
                <dl class="dl-horizontal">
                    <dt>Max Hit Points</dt>
                    <dd>{{ entity.maxHp }}</dd>
                    <dt>Losts Hit Points</dt>
                    <dd>{{ entity.baseCharacter.lostHP }}</dd>
                    <dt>Current Hit Points</dt>
                    <dd>{{ entity.maxHp - entity.baseCharacter.lostHP }}</dd>
                    <dt>HP Rolls per level</dt>
                    <dd>
                        {% for level in entity.baseCharacter.levels %}
                            {{ level.hpRoll }}
                        {% endfor %}
                    </dd>
                    {% if entity.level > 1 %}
                    <dt data-toggle="tooltip" data-placement="bottom" title="First level is ignored">Mean HP per
                        level
                    </dt>
                    <dd>
                        {% set sumhp = 0 %}
                        {% for level in entity.baseCharacter.levels|slice(1) %}
                            {% set sumhp = sumhp + level.hpRoll %}
                        {% endfor %}
                        {{ (sumhp / ((entity.baseCharacter.levels|length)-1))|number_format(1) }}
                    </dd>
                    {% endif %}
                </dl>
            </div>
            <div class="col-md-3">
                <h2 id="feats">Feats</h2>
                {{ form_start(feats_activation_form) }}
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>Active?</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for feat in feats_activation_form.feats %}
                        <tr>
                            <td>{{ form_label(feat.active, feat.vars.value.feat.name) }}</td>
                            <td>{{ form_widget(feat.active) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ form_end(feats_activation_form) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <table id="armor" class="table table-striped table-condensed table-responsive">
                    <tr>
                        <th>AC</th>
                        <td>{{ entity.ac }}</td>
                    </tr>
                    <tr>
                        <th>Touch AC</th>
                        <td>{{ entity.touchAc }}</td>
                    </tr>
                    <tr>
                        <th>Flat-Footed AC</th>
                        <td>{{ entity.flatFootedAc }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <table id="saving-throws" class="table table-striped table-condensed table-responsive">
                    <tr>
                        <th>Reflexes</th>
                        <td>{{ entity.reflexes }}</td>
                        <td>=</td>
                        <td>{{ entity.baseReflexes }}</td>
                        <td>+</td>
                        <td>{{ entity.abilityModifier(entity.dexterity) }}</td>
                        <td>+</td>
                        <td>{{ entity.defenseBonuses.reflexes }}</td>
                    </tr>
                    <tr>
                        <th>Fortitude</th>
                        <td>{{ entity.fortitude }}</td>
                        <td>=</td>
                        <td>{{ entity.baseFortitude }}</td>
                        <td>+</td>
                        <td>{{ entity.abilityModifier(entity.constitution) }}</td>
                        <td>+</td>
                        <td>{{ entity.defenseBonuses.fortitude }}</td>
                    </tr>
                    <tr>
                        <th>Will</th>
                        <td>{{ entity.will }}</td>
                        <td>=</td>
                        <td>{{ entity.baseWill }}</td>
                        <td>+</td>
                        <td>{{ entity.abilityModifier(entity.wisdom) }}</td>
                        <td>+</td>
                        <td>{{ entity.defenseBonuses.will }}</td>
                    </tr>
                </table>
                <table id="attack-rolls" class="table table-hover table-condensed table-responsive">
                    <tr>
                        <th>BAB</th>
                        <td>{{ entity.bab }}</td>
                        {% if entity.bab > 5 -%}
                            <td>{{ entity.bab - 5 }}</td>{% endif %}
                        {% if entity.bab > 10 -%}
                            <td>{{ entity.bab - 10 }}</td>{% endif %}
                        {% if entity.bab > 15 -%}
                            <td>{{ entity.bab - 15 }}</td>{% endif %}
                    </tr>
                    <tr>
                        <th>Melee attack rolls</th>
                        {% for ar in entity.meleeAttackRoll %}
                            <td>{{ ar }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Ranged attack rolls</th>
                        {% for ar in entity.rangedAttackRoll %}
                            <td>{{ ar }}</td>
                        {% endfor %}
                    </tr>
                </table>
                <table id="damage-bonus" class="table table-hover table-condensed table-responsive">
                    <tr>
                        <th>Melee damage bonus</th>
                        <td>
                            {% if entity.meleeDamageRoll > 0 %}+{% endif %}{{ entity.meleeDamageRoll }}
                        </td>
                    </tr>
                    <tr>
                        <th>Ranged damage bonus</th>
                        <td>
                            {% if entity.rangedAttackRoll > 0 %}+{% endif %}{{ entity.rangedDamageRoll }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="skills" class="tab-pane">
        <h2>Skills</h2>
        <table class="table table-hover table-striped table-condensed table-responsive">
            <thead>
            <tr>
                <th><a href="{{ path('skills') }}">Skill</a></th>
                <th>Total Bonus</th>
                <th>Ability Modifier</th>
                <th>Ranks</th>
                <th>Misc Modifiers</th>
            </tr>
            </thead>
            <tbody>
            {% for skill in skills if (skill.untrained or entity.skillRank(skill) > 0) %}
                {%- set shortname = skill.shortname -%}
                {%- spaceless -%}
                    {% set value = ability_tools.modifierByAbility(skill.keyAbility, entity) + entity.skillRank(skill) %}
                    {% if entity.hasClassBonus(skill) and entity.skillRank(skill) > 0 %}
                        {% set value = value + 3 %}
                    {% endif %}
                    {% if attribute(entity.skillsBonuses, shortname) is defined %}
                        {% set bonus = attribute(entity.skillsBonuses, shortname).bonus %}
                        {% set value = value + bonus %}
                    {% endif %}
                {%- endspaceless -%}
                <tr>
                    <td>
                        {% if entity.hasClassBonus(skill) -%}
                            <span class="glyphicon glyphicon-check"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-unchecked"></span>
                        {% endif %}
                        {{ skill }}
                    </td>
                    <td>{{ value }}</td>
                    <td>{{ skill.keyAbility }} {{ ability_tools.modifierByAbility(skill.keyAbility, entity) }}</td>
                    <td>{{ entity.skillRank(skill) }}</td>
                    <td>{{ bonus|default(0) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="equipment" class="tab-pane">
        <h2>Equipment</h2>
        <dl>
            <dt>Left weapon</dt>
            <dd>{{ entity.baseCharacter.equipment.mainWeapon }}</dd>
            <dt>Right weapon</dt>
            <dd>{{ entity.baseCharacter.equipment.offhandWeapon }}</dd>
            <dt>Body</dt>
            <dd>{{ entity.baseCharacter.equipment.body }}</dd>
            <dt>Feet</dt>
            <dd>{{ entity.baseCharacter.equipment.feet }}</dd>
            <dt>Hands</dt>
            <dd>{{ entity.baseCharacter.equipment.hands }}</dd>
            <dt>Head</dt>
            <dd>{{ entity.baseCharacter.equipment.head }}</dd>
            <dt>Back</dt>
            <dd>{{ entity.baseCharacter.equipment.back }}</dd>
            <dt>Belt</dt>
            <dd>{{ entity.baseCharacter.equipment.belt }}</dd>
            <dt>Left finger</dt>
            <dd>{{ entity.baseCharacter.equipment.leftFinger }}</dd>
            <dt>Right finger</dt>
            <dd>{{ entity.baseCharacter.equipment.rightFinger }}</dd>
            <dt>Neck</dt>
            <dd>{{ entity.baseCharacter.equipment.neck }}</dd>
        </dl>
    </div>
    </div>
    </div>
{% endblock %}
