{% extends '::base.html.twig' %}

{% block title entity ~ " - " ~ "equipment"|trans %}

{% block content %}
    {% include('@TroulitePathfinder/Character/character_h1.html.twig') %}
<div class="row">
    <div class="col-xs-6">
        <h2>{{ 'equipment'|trans }}</h2>
        {{ form(equipmentForm) }}
    </div>
    <div class="col-xs-6">
        <h2>
            {{ 'inventory'|trans }}
            <small>
                <a href="{{ path('character_inventory_edit', { 'id': entity.id }) }}" title="{{ 'inventory.edit'|trans }}">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </small>
        </h2>
        {{ form(inventoryForm) }}
    </div>
</div>
{% endblock %}
