{% extends '::base.html.twig' %}

{% form_theme castSpellsForm _self %}

{% block title entity ~ " - " ~ "cast.spells"|trans %}

{% block navbar_current -%}
    <ul class="nav navbar-nav">
        <li><a href="{{ path('characters_show', {'id': entity.id}) }}">{{ 'main.profile'|trans }}</a>
        </li>
        <li><a href="{{ path('character_equipment', {'id': entity.id}) }}">{{ 'equipment'|trans }}</a>
        </li>
        <li class="active"><a href="{{ path('character_spells', {'id': entity.id}) }}">{{ 'spells'|trans }}</a>
        </li>
    </ul>
{% endblock %}

{% block content -%}
    {% include('@TroulitePathfinder/Character/character_h1.html.twig') %}

    {% if castSpellsForm.children|length > 1 %}
        <h2>{{ 'cast.spells'|trans }}</h2>
        {{ form(castSpellsForm) }}
    {% endif %}

    {% if uncastSpellsForm.children|length > 1 %}
        <h2>{{ 'uncast.spells'|trans }}</h2>
        {{ form(uncastSpellsForm) }}
    {% endif %}

    {% set known = entity.learnedSpellsBySpellLevel %}
    {% if known %}
        <h2>{{ 'known.spells'|trans }}</h2>
        {% for spellLevel, classSpells in known %}
            <h3>Level {{ spellLevel }}</h3>
            <ul>
                {% for classSpell in classSpells %}
                    <li>{{ classSpell.spell }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block troulite_pathfinder_bundle_cast_spells_widget %}
    <div class="container-fluid">
        {% for child in form.castable_spells_by_class_by_spell_level %}
            {{ form_row(child) }}
        {% endfor %}
    </div>
{% endblock %}

{% block troulite_pathfinder_bundle_castable_class_spells_row %}
    <div class="row">
        {% if form.parent|length > 1 %}
            <h3>{{ form.vars.data.class }}</h3>
        {% endif %}
        {% set i = 0 %}
        {% for child in form.spells_by_level %}
            {% if i % 2 == 0 %}
                <div class="row">
            {% endif %}
            {{ form_row(child) }}
            {% if i % 2 == 1 %}
                </div>
            {% endif %}
            {% set i = i+1 %}
        {% endfor %}
        {% if i % 2 != 0 %}
            </div>
        {% endif %}
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block troulite_pathfinder_bundle_cast_spells_level_row %}
    <div class="col-xs-6">
        <h4>
            {% set spellLevel = form.vars.data.level %}
            {% set class = form.parent.parent.vars.data.class %}
            Level {{ spellLevel }}
            {% if not class.preparationNeeded %}
                <small>
                    {% if spellLevel > 0 %}
                        {% set character = form.parent.parent.parent.parent.vars.data %}
                        {% set classLevel = character.level(class) %}
                        {% set modifier = character.modifierByAbility(class.castingAbility) %}
                        {% set extraSpells = form.parent.parent.parent.parent.vars.extra_spells[modifier][spellLevel] %}
                        Already cast:
                        {{ character.nonPreparedCastSpellsCount[class.id][spellLevel]|default(0) }}
                        /
                        {{ character.castablePerDayPerClass[class.id][spellLevel][classLevel-1] + extraSpells }}
                    {% else %}
                        &infin;
                    {% endif %}
                </small>
            {% endif %}
        </h4>
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block troulite_pathfinderbundle_cast_spell_row %}
    <div class="form-group form-horizontal">
        {{ form_label(form, form.vars.data.name, { 'label_attr': { 'class': 'col-xs-6 col-sm-4' } }) }}
        <div class="col-xs-4">
            {{ form_label(form.targets, null, { 'label_attr': { 'class': 'sr-only' } }) }}
            {{ form_widget(form.targets) }}
        </div>
        <a class="btn btn-primary" data-toggle="collapse" href="#{{ form.vars.id }}_desc" aria-expanded="false"
           aria-controls="{{ form.vars.id ~ '_desc' }}">
            Description
        </a>
        {{ form_row(form.id) }}
        <div class="collapse" id="{{ form.vars.id }}_desc">
            <div class="well">
                {% if form.vars.data.shortDescription %}
                    <p><em>{{ form.vars.data.shortDescription|raw }}</em></p>
                {% endif %}

                <dl class="dl-horizontal">
                    <dt>Casting Time</dt>
                    <dd>{{ form.vars.data.castingTime }}</dd>

                    <dt>Components</dt>
                    <dd>{{ form.vars.data.components }}</dd>

                    <dt>Range</dt>
                    <dd>{{ form.vars.data.range }}</dd>

                    <dt>Duration</dt>
                    <dd>{{ form.vars.data.duration }}</dd>

                    <dt>Saving throw</dt>
                    <dd>{{ form.vars.data.savingThrow|default('None') }}</dd>

                    <dt>Spell Resistance</dt>
                    <dd>{{ form.vars.data.spellResistance ? 'Yes' : 'No' }}</dd>

                    {% if form.vars.data.targets %}
                    <dt>Targets</dt>
                    <dd>{{ form.vars.data.targets }}</dd>
                    {% endif %}

                    {% if form.vars.data.effects %}
                        <dt>Effects</dt>
                        {% for key, effect in form.vars.data.effects %}
                            <dd>{{ key }}: {{ effect.value }} ({{ effect.type }})</dd>
                        {% endfor %}
                    {% endif %}

                    {% if form.vars.data.conditions %}
                        <dt>Conditions</dt>
                        {% for key, condition in form.vars.data.condition %}
                            <dd>{{ key }}: {{ condition }}</dd>
                        {% endfor %}
                    {% endif %}

                    {% if form.vars.data.externalConditions %}
                        <dt>Externalconditions</dt>
                        {% for key, conditions in form.vars.data.externalConditions %}
                            <dd>{{ key }}: {{ condition }}</dd>
                        {% endfor %}
                    {% endif %}
                </dl>

                {% if form.vars.data.longDescription %}
                    <p>{{ form.vars.data.longDescription|raw }}</p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block _targets_label %}
    {{ form_label(form, { 'attr': { 'class': 'sr-only' } }) }}
{% endblock %}