{% extends '::base.html.twig' %}

{% form_theme feats_activation_form _self %}

{% block title "Character - " ~ entity.name %}

{% block navbar_current -%}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ entity.name }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#information" data-toggle="tab">Information</a></li>
                <li><a href="#abilities" data-toggle="tab">Abilities</a></li>
                <li><a href="#attack" data-toggle="tab">Attack Rolls</a></li>
                <li><a href="#damage" data-toggle="tab">Damage Rolls</a></li>
                <li><a href="#saving" data-toggle="tab">Saving Throws</a></li>
                <li><a href="#equipment" data-toggle="tab">Equipment</a></li>
                <li><a href="#feats" data-toggle="tab">Feats</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block content -%}
    <div class="tab-content">
        <div id="information" class="tab-pane active">
            <h2>Basic information</h2>

            <table class="record_properties">
        <tbody>
        <tr>
            <th>Race</th>
            <td>{{ entity.race }}</td>
        </tr>
        <tr>
            <th>Level</th>
            <td>{{ entity.level }}</td>
        </tr>
        <tr>
            <th>Favored class</th>
            <td>{{ entity.favoredClass }}</td>
        </tr>
        <tr>
            <th>Max HP</th>
            <td>{{ entity.maxHp }}</td>
        </tr>
        </tbody>
    </table>
        </div>
        <div id="abilities" class="tab-pane">
            <h2>Abilities</h2>
            <table>
        <tr>
            <th>Ability</th>
            <th>Value</th>
            <th>Modifier</th>
        </tr>
        <tr>
            <th>Strength</th>
            <td>{{ entity.strength }}</td>
            <td>{{ entity.abilityModifier(entity.strength) }}</td>
        </tr>
        <tr>
            <th>Dexterity</th>
            <td>{{ entity.dexterity }}</td>
            <td>{{ entity.abilityModifier(entity.dexterity) }}</td>
        </tr>
        <tr>
            <th>Constitution</th>
            <td>{{ entity.constitution }}</td>
            <td>{{ entity.abilityModifier(entity.constitution) }}</td>
        </tr>
        <tr>
            <th>Intelligence</th>
            <td>{{ entity.intelligence }}</td>
            <td>{{ entity.abilityModifier(entity.intelligence) }}</td>
        </tr>
        <tr>
            <th>Wisdom</th>
            <td>{{ entity.wisdom }}</td>
            <td>{{ entity.abilityModifier(entity.wisdom) }}</td>
        </tr>
        <tr>
            <th>Charisma</th>
            <td>{{ entity.charisma }}</td>
            <td>{{ entity.abilityModifier(entity.charisma) }}</td>
        </tr>
    </table>
        </div>
        <div id="attack" class="tab-pane">
            <h2>Attack Rolls</h2>
            <table class="record_properties">
        <tbody>
        <tr>
            <th>BAB</th>
            <td>
                {{ entity.bab }}
                {% if entity.bab > 5 -%} / {{ entity.bab - 5 }}{% endif %}
                {% if entity.bab > 10 -%} / {{ entity.bab - 10 }} {% endif %}
                {% if entity.bab > 15 -%} / {{ entity.bab - 15 }}{% endif %}
            </td>
        </tr>
        <tr>
            <th>Melee attack rolls</th>
            <td>
                {{ entity.meleeAttackRoll|join(' / ') }}
            </td>
        </tr>
        <tr>
            <th>Ranged attack rolls</th>
            <td>
                {{ entity.rangedAttackRoll|join(' / ') }}
            </td>
        </tr>
        </tbody>
            </table>
        </div>
        <div id="damage" class="tab-pane">
            <h2>Damage Rolls</h2>
            <table class="record_properties">
                <tbody>
                <tr>
                    <th>Melee damage roll</th>
                    <td>
                        {{ entity.meleeDamageRoll }}
                    </td>
                </tr>
                <tr>
                    <th>Ranged damage roll</th>
                    <td>
                        {{ entity.rangedDamageRoll }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="saving" class="tab-pane">
            <h2>Saving throws</h2>
            <table>
                <tbody>
                <tr>
                    <th>Reflexes</th>
                    <td>{{ entity.reflexes }} = {{ entity.baseReflexes }} +
                        {{ entity.abilityModifier(entity.dexterity) }} +
                        Misc
                    </td>
                </tr>
        <tr>
            <th>Fortitude</th>
            <td>{{ entity.fortitude }} = {{ entity.baseFortitude }} +
                {{ entity.abilityModifier(entity.constitution) }} +
                Misc
            </td>
        </tr>
        <tr>
            <th>Will</th>
            <td>{{ entity.will }} = {{ entity.baseWill }} +
                {{ entity.abilityModifier(entity.wisdom) }} +
                Misc
            </td>
        </tr>
        </tbody>
    </table>
        </div>
        <div id="equipment" class="tab-pane">
            <h2>Equipment</h2>
            <dl>
                <dt>Left weapon</dt>
                <dd>{{ entity.leftWeapon.name }}</dd>
                <dt>Right weapon</dt>
                <dd>{{ entity.rightWeapon }}</dd>
                <dt>Body</dt>
                <dd>{{ entity.body }}</dd>
                <dt>Feet</dt>
                <dd>{{ entity.feet }}</dd>
                <dt>Hands</dt>
                <dd>{{ entity.hands }}</dd>
                <dt>Head</dt>
                <dd>{{ entity.head }}</dd>
                <dt>Back</dt>
                <dd>{{ entity.back }}</dd>
                <dt>Belt</dt>
                <dd>{{ entity.belt }}</dd>
                <dt>Left finger</dt>
                <dd>{{ entity.leftFinger }}</dd>
                <dt>Right finger</dt>
                <dd>{{ entity.rightFinger }}</dd>
                <dt>Neck</dt>
                <dd>{{ entity.neck }}</dd>
            </dl>
        </div>
        <div id="feats" class="tab-pane">
            <h2>Feats</h2>
            {{ form_start(feats_activation_form) }}
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Active?</th>
                </tr>
                </thead>
                <tbody>
                {% for feat in feats_activation_form.feats %}
                    <tr>
                        <td>{{ form_label(feat.active, feat.vars.value.feat.name) }}</td>
                        <td>{{ form_widget(feat.active) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ form_end(feats_activation_form) }}
        </div>
    </div>
{% endblock %}

