{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.name }}</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Race</th>
            <td>{{ entity.race }}</td>
        </tr>
        <tr>
            <th>Level</th>
            <td>{{ entity.level }}</td>
        </tr>
        <tr>
            <th>Favored class</th>
            <td>{{ entity.favoredClass }}</td>
        </tr>
        <tr>
            <th>Max HP</th>
            <td>{{ entity.maxHp }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('characters') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('characters_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
