{% extends '::base.html.twig' %}

{% block title entity ~ " - " ~ "equipment"|trans %}

{% block navbar_current -%}
    <ul class="nav navbar-nav">
        <li><a href="{{ path('characters_show', {'id': entity.id}) }}">{{ 'main.profile'|trans }}</a></li>
        <li class="active"><a href="{{ path('character_equipment', {'id': entity.id}) }}">{{ 'equipment'|trans }}</a></li>
        <li><a href="{{ path('character_spells', {'id': entity.id}) }}">{{ 'spells'|trans }}</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% include('@TroulitePathfinder/Character/character_h1.html.twig') %}
    <h2>{{ 'equipment'|trans }}</h2>
    <dl>
        <dt>{{ 'main.weapon'|trans }}</dt>
        <dd>{{ entity.equipment.mainWeapon }}</dd>
        <dt>{{ 'offhand.weapon'|trans }}</dt>
        <dd>{{ entity.equipment.offhandWeapon }}</dd>
        <dt>{{ 'armor'|trans }}</dt>
        <dd>{{ entity.equipment.armor }}</dd>
        <dt>{{ 'feet'|trans }}</dt>
        <dd>{{ entity.equipment.feet }}</dd>
        <dt>{{ 'hands'|trans }}</dt>
        <dd>{{ entity.equipment.hands }}</dd>
        <dt>{{ 'head'|trans }}</dt>
        <dd>{{ entity.equipment.head }}</dd>
        <dt>{{ 'back'|trans }}</dt>
        <dd>{{ entity.equipment.back }}</dd>
        <dt>{{ 'belt'|trans }}</dt>
        <dd>{{ entity.equipment.belt }}</dd>
        <dt>{{ 'left.finger'|trans }}</dt>
        <dd>{{ entity.equipment.leftFinger }}</dd>
        <dt>{{ 'right.finger'|trans }}</dt>
        <dd>{{ entity.equipment.rightFinger }}</dd>
        <dt>{{ 'neck'|trans }}</dt>
        <dd>{{ entity.equipment.neck }}</dd>
    </dl>
{% endblock %}
