{% if
powers_activation_form.feats|length > 0 or
powers_activation_form.class_powers|length > 0 or
powers_activation_form.spell_effects|length > 0 or
powers_activation_form.power_effects|length > 0 or
powers_activation_form.item_power_effects|length > 0 %}
    {{ form_start(powers_activation_form) }}
    <h2 id="feats">{{ 'powers'|trans }}</h2>
    {{ form_errors(powers_activation_form) }}
    <table class="table table-hover table-condensed table-responsive">
        <tbody>
        {% for power in powers_activation_form.feats %}
            <tr>
                {% if loop.index == 1 %}
                    <th rowspan="{{ loop.length }}">{{ 'feats'|trans }}</th>
                {% endif %}
                <td>
                    {{ popovers.description(power.vars.value.feat.name, power.vars.value.feat) }}
                    {{ form_label(power.active, power.vars.value.feat.name) }}
                </td>
                <td>{{ form_widget(power.active) }}</td>
            </tr>
        {% endfor %}
        {% for power in powers_activation_form.class_powers %}
            <tr>
                {% if loop.index == 1 %}
                    <th rowspan="{{ loop.length }}">{{ 'class.powers'|trans }}</th>
                {% endif %}
                <td>
                    {{ popovers.description(power.vars.value.classPower.name, power.vars.value.classPower) }}
                    {{ form_label(power.active, power.vars.value.classPower.name) }}
                </td>
                <td>
                    {{ form_widget(power.active) }}
                    {% if power.cancel is defined %}
                        {{ form_row(power.cancel) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% for spellEffect in powers_activation_form.spell_effects %}
            <tr>
                {% if loop.index == 1 %}
                    <th rowspan="{{ loop.length }}">{{ 'spells'|trans }}</th>
                {% endif %}
                <td>
                    {{ popovers.description(spellEffect.vars.value.spell.name, spellEffect.vars.value.spell) }}
                    {{ form_label(spellEffect.active, spellEffect.vars.value.spell.name) }}
                </td>
                <td>{{ form_widget(spellEffect.active) }}</td>
            </tr>
        {% endfor %}
        {% for powerEffect in powers_activation_form.power_effects %}
            <tr>
                {% if loop.index == 1 %}
                    <th rowspan="{{ loop.length }}">{{ 'powers'|trans }}</th>
                {% endif %}
                <td>
                    {{ popovers.description(powerEffect.vars.value.power.name, powerEffect.vars.value.power) }}
                    {{ form_label(powerEffect.active, powerEffect.vars.value.power.name) }}
                </td>
                <td>{{ form_widget(powerEffect.active) }}</td>
            </tr>
        {% endfor %}
        {% for powerEffect in powers_activation_form.item_power_effects %}
            <tr>
                {% if loop.index == 1 %}
                    <th rowspan="{{ loop.length }}">{{ 'item_powers'|trans }}</th>
                {% endif %}
                <td>
                    {{ popovers.description(powerEffect.vars.value.power.name, powerEffect.vars.value.power) }}
                    {{ form_label(powerEffect.active, powerEffect.vars.value.power.name) }}
                </td>
                <td>{{ form_widget(powerEffect.active) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_row(powers_activation_form._token) }}
    {{ form_row(powers_activation_form.submit) }}
    {{ form_end(powers_activation_form, {'render_rest': false}) }}
    {{ render_esi(controller('TroulitePathfinderBundle:Character:notes', { 'id': entity.id, 'type': 'power' })) }}
{% endif %}