{% extends '::base.html.twig' %}

{% block content -%}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Your Characters</h2>
                <ul class="list-group">
                    {% for character in user.characters %}
                        <li class="list-group-item">
                            <a href="{{ path('characters_show', { 'id': character.baseCharacter.id}) }}">
                                {{ character }}
                                <span class="badge pull-right">{{ character.baseCharacter.favoredClass }}</span>
                                <span class="badge pull-right">{{ character.baseCharacter.race }}</span>
                                <span class="badge pull-right">Level {{ character.level }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <p><a href="{{ path('characters_new') }}" class="btn btn-primary active">New Character</a></p>
            </div>
            <div class="col-md-4">
                <h2>Your Parties</h2>
                <ul class="list-group">
                    {% for party in user.parties %}
                        <li class="list-group-item">
                            <a href="{{ path('parties_show', {'id': party.id }) }}">{{ party }}</a>
                        <span class="badge pull-right">
                            {{ party.characters|length }} character{% if party.characters|length != 1 %}s{% endif %}
                        </span>
                        </li>
                    {% endfor %}
                </ul>
                <p><a href="{{ path('parties_new') }}" class="btn btn-primary active">New Party</a></p>
            </div>
            <div class="col-md-4">
                <h2>Your Groups</h2>
                <ul class="list-group">
                    {% for group in user.groups %}
                        <li class="list-group-item">
                            {{ group }}
                            <span class="badge pull-right">
                            {{ group.users|length }} user{% if group.users|length != 1 %}s{% endif %}
                        </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}